
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
}

header h1 {
  font-size: 2em;
  color: #007BFF;
  text-align: center;
  margin-bottom: 30px;
}

input#searchBar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

#suggestions {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  max-height: 200px;
  overflow-y: auto;
}
